@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3e1e68;
  overflow: hidden;
  z-index: -1000;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #ffacac;
  top: 94%;
  left: 36%;
  animation-duration: 32s;
  animation-delay: -21s;
  transform-origin: 9vw 6vh;
  box-shadow: -40vmin 0 5.5459906752590555vmin currentColor;
}
.background span:nth-child(1) {
  color: #583c87;
  top: 12%;
  left: 38%;
  animation-duration: 26s;
  animation-delay: -2s;
  transform-origin: -21vw -18vh;
  box-shadow: 40vmin 0 5.653386434682448vmin currentColor;
}
.background span:nth-child(2) {
  color: #e45a84;
  top: 75%;
  left: 32%;
  animation-duration: 47s;
  animation-delay: -45s;
  transform-origin: 16vw 11vh;
  box-shadow: 40vmin 0 5.00260001212018vmin currentColor;
}
.background span:nth-child(3) {
  color: #583c87;
  top: 7%;
  left: 77%;
  animation-duration: 36s;
  animation-delay: -35s;
  transform-origin: 11vw -18vh;
  box-shadow: 40vmin 0 5.349952675371354vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 52%;
  left: 100%;
  animation-duration: 24s;
  animation-delay: -34s;
  transform-origin: 16vw -23vh;
  box-shadow: -40vmin 0 5.53323594413771vmin currentColor;
}
.background span:nth-child(5) {
  color: #583c87;
  top: 53%;
  left: 30%;
  animation-duration: 20s;
  animation-delay: -41s;
  transform-origin: 2vw 13vh;
  box-shadow: -40vmin 0 5.892668470191362vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffacac;
  top: 96%;
  left: 46%;
  animation-duration: 9s;
  animation-delay: -29s;
  transform-origin: 8vw 1vh;
  box-shadow: -40vmin 0 5.381955003321628vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 85%;
  left: 97%;
  animation-duration: 20s;
  animation-delay: -3s;
  transform-origin: 9vw 13vh;
  box-shadow: -40vmin 0 5.210242554071641vmin currentColor;
}
.background span:nth-child(8) {
  color: #583c87;
  top: 40%;
  left: 62%;
  animation-duration: 28s;
  animation-delay: -3s;
  transform-origin: 22vw 3vh;
  box-shadow: -40vmin 0 5.403679255311897vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffacac;
  top: 10%;
  left: 68%;
  animation-duration: 29s;
  animation-delay: -41s;
  transform-origin: 15vw 14vh;
  box-shadow: -40vmin 0 5.148995539808302vmin currentColor;
}
.background span:nth-child(10) {
  color: #583c87;
  top: 5%;
  left: 72%;
  animation-duration: 17s;
  animation-delay: -21s;
  transform-origin: -14vw 4vh;
  box-shadow: -40vmin 0 5.132692519384941vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffacac;
  top: 12%;
  left: 76%;
  animation-duration: 46s;
  animation-delay: -29s;
  transform-origin: -11vw 14vh;
  box-shadow: 40vmin 0 5.258520813101284vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 3%;
  left: 14%;
  animation-duration: 40s;
  animation-delay: -5s;
  transform-origin: 14vw -19vh;
  box-shadow: 40vmin 0 5.362618269061071vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffacac;
  top: 17%;
  left: 85%;
  animation-duration: 51s;
  animation-delay: -7s;
  transform-origin: 9vw -3vh;
  box-shadow: 40vmin 0 5.4580237489287615vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffacac;
  top: 76%;
  left: 88%;
  animation-duration: 29s;
  animation-delay: -16s;
  transform-origin: 17vw -6vh;
  box-shadow: -40vmin 0 5.307421896302126vmin currentColor;
}
.background span:nth-child(15) {
  color: #e45a84;
  top: 36%;
  left: 34%;
  animation-duration: 33s;
  animation-delay: -39s;
  transform-origin: -22vw 21vh;
  box-shadow: 40vmin 0 5.74882296924468vmin currentColor;
}
.background span:nth-child(16) {
  color: #e45a84;
  top: 16%;
  left: 49%;
  animation-duration: 6s;
  animation-delay: -18s;
  transform-origin: -20vw -11vh;
  box-shadow: 40vmin 0 5.797309592131938vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffacac;
  top: 18%;
  left: 43%;
  animation-duration: 26s;
  animation-delay: -28s;
  transform-origin: -2vw 20vh;
  box-shadow: -40vmin 0 5.580706479574274vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffacac;
  top: 21%;
  left: 24%;
  animation-duration: 27s;
  animation-delay: -11s;
  transform-origin: 7vw -5vh;
  box-shadow: 40vmin 0 5.47259956856429vmin currentColor;
}
.background span:nth-child(19) {
  color: #583c87;
  top: 41%;
  left: 50%;
  animation-duration: 55s;
  animation-delay: -24s;
  transform-origin: -3vw -17vh;
  box-shadow: -40vmin 0 5.109423201138984vmin currentColor;
}
